body {
    background-color: #e0e0e0;
    line-height: 25px;
    padding: 15px;
}

.header-image {
    height: 100px;
    width: 50% auto;
}

.links {
    margin: 34px 0px 10px 0px;
    font-weight: bold;
}

.logIn {
    margin-left: 30px;
}

.search {
    margin-right: 20px;
}

.button {
    border-radius: 25px;
    background-color: #fff;
}

.navbar {
    margin-top: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ededed;
    width: 100%;
}

li {
    display: inline-block;
    font-weight: bold;
}

li a {
    display: block;
    color: #000000;
    padding: 8px 8px;
    border-right: 1px solid #999999;
}

.margin-bottom {
    margin-bottom: 25px;
}

.slide-show {
    height: 400px;
}

.slide-show-text {
    line-height: 25px;
    margin-bottom: 50px;
}

.borders {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.h4 {
    font-weight: bold;
    margin-bottom: 25px;
}

.h4 span {
    font-weight: normal;
}

h5 {
    line-height: 25px;
}

.news-letter {
    padding: 25px 0px 25px 0px;
}

.news-letter-img {
    height: 350px;
    width: 100%;
}

.blog-column {
    border-right: 1px solid #999999;
    padding: 25px 25px 0px 25px;
    border-left: 1px solid #999999;
}

.blog-divider {
    border-bottom: 1px solid #999999;
}

.padding-bottom {
    padding-bottom: 25px;
}

.blog-img {
    height: 100px;
    width: 100px;
    margin: 0px 25px 25px 0px;
    float: left;
}

.sign-up {
    margin: 25px 0px 25px 0px;
}

.form {
    margin-bottom: 10px;
}

.columns {
    padding: 25px 25px 0px 25px;
}

input[type="text"] {
    height: 25px;
    width: 200px;
}

input[type="email"] {
    height: 25px;
    width: 200px;
}

@media (max-width: 1024px) {
    .blog-column {
        border: none;
    }
}

@media (max-width: 1750px) {
    .carousel-indicators {
        display: none;
    }
}
